name: Main workflow
on: [push, pull_request]

env:
  NODE_VERSION: "20.x"

jobs:
  lint:
    name: Lint
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install node dependencies
        run: npm install

      - name: Lint
        run: npm run format

      - name: Commit format changes
        uses: EndBug/add-and-commit@v9.1.4
        with:
          add: "src/"
          message: "Format source code"

  build:
    name: Build
    needs: lint
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install node dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Commit distribution changes
        uses: EndBug/add-and-commit@v9.1.4
        with:
          add: "dist/"
          message: "Update distribution files"

  test:
    name: Test
    needs: build
    permissions:
      contents: write
      checks: write
      pull-requests: write
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install
        run: npm install

      - name: Test
        run: npm test

      - name: Upload coverage
        uses: ArtiomTr/jest-coverage-report-action@v2.3.1
        continue-on-error: true
        with:
          test-script: npm test
